*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Archivo';
  list-style: none;
}

:root{
  --brand-color: #7CA2F4;
  --dark-10:#121214;
  --dark-20: #F3F7FF;
  --dark-30: #FFFFFF;
}

/* ************* Header **************/

header{
  padding: 5.875rem 0rem;
  width: 100%;
  background-image: url("./../img/image-michael-jordan.png");
}

.container-header{
  max-width: 76rem;
  margin: 0 auto;
}

.container-header h1{
font-weight: 500;
font-size: 2rem;
font-family: 'Archivo';
color: var(--dark-30);
}

.container-header p {
  font-weight: 500;
font-size: 1.5rem;
font-family: 'Archivo';
color: var(--dark-30);
margin-top: 1.25rem;
line-height: 2.125rem;
}

.infor-header{
   display: flex;
  justify-content: center;
  align-items: center;
  max-width: 76rem;
  margin: 0 auto;
  padding: 1.1875rem 0rem;
}

.infor-header span{
  font-family: 'Archivo';
  font-weight: 500;
  font-size: 1.5rem;
}

/* ****** Infor section ****** */
.container-infor-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 76rem;
  margin: 0 auto;
  margin-top: 5rem;
}

#infor-section-h1{
  font-family: 'Archivo';
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.1875rem;
  text-align: center;
}

#infor-section-p{
font-family: 'Archivo';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
  text-align: center;
  margin-top: 1.5rem;
}

/* ******************* Seção tenis ******************** */

.tenis-container{
  max-width: 76rem;
  margin: 0 auto;
  margin-top: 4.5rem;
}

.seçãoTenis-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.infor-tenis{
  font-family: 'Archivo';
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--dark-10);
  margin-top: 1.5rem;
}

.nome-tenis{
  font-family: 'Archivo';
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: var(--brand-color);
  margin-top: 0.75rem;
}

.preço-tenis{
  font-family: 'Archivo';
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5625rem;
  color: var(--dark-10);
  margin-top: 1.5rem;
}

/* seção tenis 2 */

.seçãoTenis-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4.5rem;
}

