*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  font-family: "Inter", "Space Grotesk", "sans";
}

:root{
  --dark-10: #121214;
  --dark-20: #17171A;
  --dark-30: #202024;
  --dark-40: #252529;
  --dark-50: #AFABB6;
  --dark-60: #FFFFFF;
}

body{
  background: var(--dark-10);
}

/*************** Header ****************/
header{
  background: var(--dark-20);
}

.container{
  max-width: 76rem;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.search-input{
  background: var(--dark-40);
  padding: 1rem; 
  border: 0.125rem solid none;
  border-radius: 0.5rem;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: var(--dark-50);
  width: 100%;
}

.search-input:focus{
   outline: none;
  outline: 1px solid var(--dark-40);
}

.search-input::placeholder{
  color: var(--dark-50);
  font-family: 'Inter';
}